<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Moodify</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="header">
    <div class="header-container">
      <div class="logo">Moodify</div>
      <nav class="nav">
        <a href="music" class="nav-link">돌아가기</a>
      </nav>
    </div>
  </header>
